<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Olá, esse é o meu portfólio</h1>
        </header>

        <aside>
            <h2>Aside</h2>
        </aside>

        <main>
            <h2>main</h2>
        </main>

        <footer>
            <h4>footer</h4>
        </footer>
    </div>
</body>
</html>